html{
    font-family: 'Open Sans',    sans-serif;
    font-family: 'Exo 2',    sans-serif;
}

h1, h2, h3{
    font-family: 'Exo 2',    sans-serif;
    font-weight: 600;
}

body {
    background-image: url("../images/pexels-philippe-donn-1257860.jpg");
   }

h2{
    color: rgb(65,105,225);
}

nav > ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

nav > ul > li{
    -webkit-text-fill-color: rgb(255,99,71);
    border: rgb(65,105,225) 1px solid;
    padding: 0.5rem;
    text-align: left;
    font-weight: 600;
}

nav > ul > li > a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

aside{
    background-color: rgb(217,225,249);
    padding: 1rem;
}

main > div{
    padding-bottom: 1rem;
    border-bottom: 1px groove rgb(65,105,225);
    margin-bottom: 1rem;
}

.h1-1{
    color: rgb(65,105,225);
    font-weight: bolder;
}

.contact{
    color: rgb(0,0,238);
}

.wrapper{
    background-color: white;
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
}

.tagline{
    font-family: 'Exo 2',    sans-serif;
    font-style: italic;
    font-size: 68%;
    font-weight: normal;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.wrapper > h1{
    padding-bottom: 1rem;
    border-bottom: 1px groove rgb(65,105,225);
    margin-bottom: 1rem;
}

.marg, h3{
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}

.main-wrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;
}

.articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.h3, .orange{
    color: rgb(255,99,71);
    text-decoration: none;
}

.orange11{
    color: rgb(255,99,71);
    list-style-type: none;
    display: flex;
    justify-content: left;
    padding: 0;
}

.orange1{
    color: rgb(255,99,71);
    list-style-type: none;
    margin: 0.5rem;
    font-size: x-large;
}

.footer-wrapper{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3,1fr);
}

.black{
    color: black;
}

.violet{
    color: rgb(85,26,139);
}

.le{
    padding: 0;
    margin: 1rem;
}
