html{
    font-family: 'Open Sans',    sans-serif;
    font-family: 'Exo 2',    sans-serif;
    background-color: #808F85;
}

body{
    margin: 0;
    padding: 0;
}

header {
    background-color: #808F85;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav{
    padding: 1rem;
    /* margin: 1rem; */
    /* border: #595959; */
    /* border: 1rem; */
}
.pi2{
    display: none;
}
nav > ul {
    list-style-type: none;
    /* padding: 0; */
    /* gap: 1rem; */
    /* text-align: center; */
    /* text-decoration: none; */
    padding: 1rem;
    margin: 1rem;  
    background-color: #CFD114;
}

nav > ul > li > a{
    text-decoration: none;
    color: #595959; 
    gap: 1rem;  
    margin: 1rem;
    padding: 1rem;
}

nav > ul > li{
    /* text-decoration: none; */
    /* color: #595959;  */
    /* gap: 1rem;   */
    /* margin: 1rem; */
    padding: 0.5rem;
    border: 1px dotted #808F85;
}

img{
    width: 100%;
}

h1, h2 {
    text-align: center;
}
h2{
    background-color: #CFD114;
    margin: 1rem;
    padding: 1rem;
}
main{
    margin: 0.5rem;
}

.education{
    text-align: center;
}

.employment > div > h3 {
    text-align: center;
}

.skills > div > h3 {
    text-align: center;
}

.skills > div > ul > li{
    list-style-type: none;
    padding: 1rem;
}
.skills > div > ul{
    padding: 0;
}
.skilldot{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.employment > div > h3 {
    text-align: center;
}

.employment > div > ul > li{
    list-style-type: none;
    padding: 1rem;
}
.employment > div > ul{
    padding: 0;
}
.dot{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

footer {
    background-color: #F2E9DC;
}

.footer-wrapper > section > ul {
    list-style-type: none;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-wrapper{
    margin: 1rem;
}

.red{
    margin-bottom: 0;
}

.red1{
    color: #808F85;
    font-size: 35px;
}

.small{
    display: block;
}
.big{
    display: none;
}

/* https://coolors.co/595959-808f85-91c499-f2e9dc-cfd11a */




@media screen and (min-width: 600px){
    img{
        max-width: 80%;
        margin: auto;
        display: block;
    }
    .pict{
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* margin: 1rem; */
        /* padding: 1rem; */
    }
    nav > ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: auto;
        padding: auto;
    }
    nav > ul > li > a{
        margin: 0;
        padding: 0;
    }
    .red{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .Interests > div > ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .pi{
        display: none;
    }
    .pi2{
        display: block;
    }
    
    .small{
        display: none;
    }
    .big{
        display: block;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        align-items: center;
    }
}







@media screen and (min-width: 1100px){
    main{
        max-width: 800px;
        margin: auto;
    }
    .employment > div > ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .skills > div > ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* .small{
        display: none;
    }
    .big{
        display: block;
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */
}
