.email{
    color: #ffffff;
}
.pictabel{
    padding: 0;
}

.absoexam2 div {
    background-color: rgba(0,0,0,.6);
}
.absoexam2 {
    position: relative;
    bottom: 5px;
    right: 10px;
    margin: 1rem;
    max-width: 100%;
}
.absoexam2 img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.absoexam2 div {
position: absolute;
bottom: 0;
margin-bottom: 1rem;
padding: 0;
width: 100%;
border-radius: 15px;
}
.picfoot>a>h3, .picfoot>a>p{
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}
.picfoot>h3{
    color: #FFFFFF;
    text-align: center;
}
#menu-button{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
#absolute-example div {
    color:white;
    background-color: rgba(0,0,0,.8);
    padding:.5rem;
}

html{
    font-family: 'Work Sans',    sans-serif;
    background-color: #e3f1f6;
    font-size: larger;
    line-height : 30px;
}

.logo{
    max-width: 40%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

body{
    margin: 0;
    padding: 0;
}

header {
    background-color: #e3f1f6;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav{
    padding: 1rem;
    z-index: 10;
}
.pi2{
    display: none;
}
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    border-radius: 20px;
    display: none;
}

nav > ul > li > a{
    text-decoration: none;
    color: #ffffff; 
    gap: 1rem;  
    margin: 1rem;
    padding: 1rem;
    font-size: larger;
}
nav > ul > li{
    padding: 0.5rem;
    border: 1px dotted #000000;
    background-color: #202130;
    border-radius: 30px;
    padding-left: 0;
    padding-right: 0;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

img{
    width: 90%;
    padding: 1rem;
    border-radius:20%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

h1, h2 {
    text-align: center;
}
h1{
    padding-top: 1rem;
}
h2{
    background-color: #898b8c;
    color: #e3f1f6;
    margin: 1rem;
    padding: 1rem;
    margin-left: 0;
    margin-right: 0;
    border-radius: 40px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
main{
    margin: 0.5rem;
}

.ingredients{
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}
.dot{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

footer {
    background-color: #898b8c;
    border-radius: 20px;
}

.footer-wrapper > div > ul {
    list-style-type: none;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-wrapper{
    margin: 1rem;
    margin-top: 4rem;
}

.red{
    margin-bottom: 0;
}

.red1{
    color: #FFFFFF;
    font-size: 35px;
}

.small{
    display: block;
}
.big{
    display: none;
}

button{
    border-radius: 15%;
    font-size: large;
    background-color: #8D99AE;
    border: 2px dotted #e3f1f6;
    color: #202130;
    padding: 0.5rem;
    margin: 0.9rem;
}
button:hover{
    background-color: #8D99AE;
    color: #FFFFFF;
    border: 2px dashed #898b8c;
    padding: 0.7rem;
    margin: 0.7rem;
}

.ingredients{
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
}

table{
    border: 1px solid black;
    border-collapse: collapse;

}

.tableBox tr th {
    border: 1px solid black;
    padding: 0.5rem;
}

.tableBox .top th{
    background-color: #8D99AE;
    color: #000000;
}
.tableBox td {
    border: 1px solid black;
    padding: 0.3rem;
}

.tableBox caption{
    text-align: left;
    padding-top: 0rem;
    padding-left: 0.3rem;
}

.show-menu{
    display: block;
}
nav {
    position: sticky;
    top: 0;
}
.menu-button{
    max-width: 20%;
}
.form{
    text-align: center;
}
.form input , .form textarea{
    border: 0;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    border-radius: 10px;
    background-color:#FFFFFF;
    width: 80%;
}
.form input{
    height: 30px;
    margin: 0.5rem;
    margin-bottom: 2rem;
}
.form textarea{
    height: 100px;
    margin: 0.5rem;
}
    .indexfoo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style-type: none;
        text-align: center;
    }
    .red{
        list-style-type: none;
        margin-top: 0;
    }
@media screen and (min-width: 600px){
    .tableBox{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 800px;
    padding: 0.5rem;
    border-radius: 10px;
    }
    .red{
    
    margin-top: 1rem;
    }
    
    .pictures1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .pictures2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #menu{
        position: fixed;
        top: 1rem;
        max-width: 80%;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .logo{
        max-width: 10%;
    }
    main{
        max-width: 800px;
        margin: auto;
    }
    img{
        max-width: 100%;
        margin: auto;
        display: block;
    }
    .pict{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .menu-button{
        display: none;
    }

    nav {
        position: sticky;
        top: 0;
        padding: 0;
    }
    
    nav > ul {
        max-width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: auto;
    }
    nav > ul > li > a{
        margin: 0;
        padding: 0;
    }
    .red{
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
    
    .pi{
        display: none;
    }
    .pi2{
        display: block;
    }
    
    .small{
        display: none;
    }
    .big{
        display: block;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        align-items: center;
    }
}


@media screen and (min-width: 1100px){
    main{
        max-width: 800px;
        margin: auto;
    } 
    #absolute-example div {
        background-color: rgba(0,0,0,.6);
    }
    #absolute-example {
        position: relative;
        bottom: 5px;
        right: 10px;
        margin: 0;
        max-width: 100%;
    }
    #absolute-example img {
        width: 100%;
        height: 100%;
    }
    #absolute-example div {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    padding: 0;
    width: 100%;
    border-radius: 15px;
    }
    .picfoot>p{
        margin: 2rem;
    }
    .mainpict{
        padding: 0;
    }
}
